.table {
  border: 3px solid #1b346f;
  border-collapse: collapse;
  width: 36rem;
}

.head {
  color: #1b346f;
  text-align: center;
  border: 2px solid #1b346f;
  font-size: 18px;
}

.heading {
  text-align: left;
  color: #1b346f;
  border: 1px solid #1b346f;
  padding-left: 14px;
}

.data {
  color: black;
  border: 2px solid #1b346f;
  text-align: center;
  font-weight: 500;
}

.row {
  height: 1rem;
  border: 2px solid;
}
