.container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  padding: 2rem;
  justify-content: center;
  justify-items: center;
}

.img {
  max-width: 60vh;
  max-height: 60vh;
}

.title {
  font-size: 24px;
}
